*~
\#*\#
mkepak
rdepak
test.epak
test/
.libs
.deps
.dirstamp
*.la
*.lo
*.o
*.so
*.gir
*.typelib
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/missing
/config.log
/config.status
/libtool
/Makefile
/fart.epak
