*~
\#*\#
test.shard
.libs
.deps
.dirstamp
*.la
*.lo
*.o
*.so
*.gir
*.typelib
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/missing
/config.log
/config.status
/libtool
/tap-driver.sh
*.log
*.trs
