*~
\#*\#
test.shard
.libs
.deps
.dirstamp
*.la
*.lo
*.o
*.so
*.gir
*.gcda
*.gcno
_coverage/
*.typelib
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.*
/configure
/depcomp
/install-sh
/ltmain.sh
/missing
/config.log
/config.status
/libtool
/tap-driver.sh
*.log
*.trs
eos-shard-*.pc
stamp-h1
run_coverage.coverage
