Source: eos-shard
Priority: standard
Maintainer: Jasper St. Pierre <jasper@endlessm.com>
Build-Depends: autotools-dev,
               dh-autoreconf,
               debhelper (>= 8.0.0),
               gir1.2-glib-2.0,
               gobject-introspection (>= 0.9.7),
               gtk-doc-tools (>= 1.18),
               jasmine-gjs,
               libgirepository1.0-dev,
               zlib1g-dev
Standards-Version: 3.9.4
Section: non-free/libs
Homepage: http://www.endlessm.com

Package: libeos-shard-0-0
Section: non-free/libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: eos-shard C library

Package: libeos-shard-0-dev
Section: non-free/libdevel
Architecture: any
Depends: libeos-shard-0-0 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: eos-shard headers and development files

Package: gir1.2-eos-shard-0
Section: non-free/introspection
Architecture: any
Depends: libeos-shard-0-0 (= ${binary:Version}),
         ${gir:Depends},
         ${misc:Depends},
         ${shlibs:Depends}
Description: GObject bindings for eos-shard
 Eos-Shard is a library for generating and extracting eos-shard archives.
